<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is the sample application for the Selected Beginner Class.
  <a href="https://camp.potepan.com/">Potepan Camp</a>
  is one of the most popular programming school in Japan!
  If you'd like to get to know about Potepan Camp,
  click <a href="https://camp.potepan.com/about">here</a>.
</p>