<footer class="footer">
  <small>
    <a href="https://camp.potepan.com/">Potepan Camp</a>
    by <a href="https://twitter.com/miyapotemaru">Daichi Miyazaki</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><a href="https://camp.potepan.com/terms">Terms of servise</a></li>
      <li><a href="https://en.gravatar.com/">Gravatar</a></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>